/* Main Page */

.app {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #e9ecef;
  text-align: left;
}

.toolbar {
  /* background: lightcoral; */
  height: 5vh;
}

.quote,
.player-container,
.streakbar {
  text-align: center;
}

.appname,
.settingsicon {
  color: #353535;
}

.quote {
  /* background: lightsalmon; */
  height: 25vh;
  font-size: 1.3rem;
}

.greyfilter {
  background: #343a4038;
}
.player-container {
  /* background: lightseagreen; */
  height: 50vh;
}

.streak {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* toolbar section */
.fa-wind {
  color: #ff6000;
}

.settingsicon {
  text-align: right;
}

.settingstoggle:link,
.settingstoggle:visited {
  color: #ff6000;
}

.settingstoggle:hover,
.settingstoggle:active {
  text-align: right;
  color: #353535;
}

/* .quote section */

.quoteheading {
  font-weight: bold;
}

.quotetext {
  font-style: italic;
}

.author {
  font-weight: normal;
}

/* .player-container section */

.player-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.player-container svg {
  position: absolute;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}
.player-container svg circle {
  transition: all 0.2s ease-in-out;
}

.starttimer {
  position: relative;
  border: none;
  background: none;
  font-size: 3.5rem;
  color: whitesmoke;
  transform: translate(0%, 50%);
}

.meditationtime {
  color: white;
  position: relative;
  font-size: 2.5rem;
  transform: translate(0%, 80%);
}

/* .streakbar section */

.streakbar {
  padding-top: 1rem;
  height: 20vh;
}
/* Toggle for Sound https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ff6000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff6000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Background Settings */

.backgroundicon {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 2.5rem;
}

.backgroundtext {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 1.2rem;
}

/* Modal Background Switch Button */

.btng {
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
}

.btng:hover {
  color: #ff6000;
}

.volumeslider {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 3px;
  background: #dae0e5;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.volumeslider:hover {
  opacity: 1;
}

.volumeslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff6000;
  cursor: pointer;
}

.volumeslider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff6000;
  cursor: pointer;
}
