/* Main Page */

.app {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #e9ecef;
  text-align: left;
}

.toolbar {
  /* background: lightcoral; */
  height: 5vh;
}

.quote,
.player-container,
.streakbar {
  text-align: center;
}

.appname,
.settingsicon {
  color: #353535;
}

.quote {
  /* background: lightsalmon; */
  height: 20vh;
  font-size: 1.3rem;
}

.greyfilter {
  background: #343a4038;
}
.player-container {
  /* background: lightseagreen; */
  height: 65vh;
}

.streak {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* toolbar section */
.fa-wind {
  color: #ff6000;
}

.settingsicon {
  text-align: right;
}

.settingstoggle:link,
.settingstoggle:visited {
  color: #ff6000;
}

.settingstoggle:hover,
.settingstoggle:active {
  text-align: right;
  color: #353535;
}

/* .quote section */

.quoteheading {
  font-weight: bold;
}

.quotetext {
  font-style: italic;
}

.author {
  font-weight: normal;
}

/* .player-container section */

.player-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.player-container svg {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}
.player-container svg circle {
  transition: all 0.2s ease-in-out;
}

.starttimer {
  position: static;
  border: none;
  margin-left: 50%;
  background: none;
  font-size: 3.5rem;
  margin-top: 179px;
  color: whitesmoke;
  transform: translate(-50%, -50%);
}

.meditationtime {
  color: white;
  position: relative;
  font-size: 2.5rem;
  bottom: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* .streakbar section */

.streakbar {
  margin-bottom: 0rem;
  height: 10vh;
}
/* Toggle for Sound https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Background Settings */

.backgroundicon {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 2.5rem;
}

.backgroundtext {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 1.2rem;
}

/* Modal Background Switch Button */

.btng {
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
}

.btng:hover {
  color: #ff6000;
}
